<footer>
  <!--
  {% if page.layout == 'index' %}
    <div class="education_footer">
        <div class="ui container">
            <div class="ui grid ">
                <div class="row">
                        <div class="ui sixteen wide mobile eight wide tablet six wide computer column">
                            <a class=" item" href="/index.html">
                                <img class="ui image logo" src="/images/white-logo.png" alt="abcdevops logo"/>
                            </a> 
                            <p>The AWS Certified Solutions Architect – Associate exam validates technical expertise in designing and deploying scalable, highly available, and fault-tolerant systems on AWS. Join this half-day,
                                 intermediate-level training to learn how to prepare for the exam by exploring the exam’s topic areas and how
                                  they map to architecting on AWS and to specific areas to study. </p>   
                        </div>
                  
                    <div class="ui sixteen wide mobile eight wide tablet four wide computer column">
                        <h4>Courses</h4>
                        <ul>
                                <li><a href="https://edu.abcdevops.com/course/index.php?categoryid=12" target="_blank">AWS</a> </li>
                                <li><a href="https://edu.abcdevops.com/course/index.php?categoryid=11" target="_blank">Programming Language</a> </li>
                                <li><a href="https://edu.abcdevops.com/course/index.php?categoryid=13" target="_blank">Microsoft Azure </a> </li>
                                <li><a href="https://edu.abcdevops.com/course/index.php?categoryid=14" target="_blank">Docker </li>
                                <li><a href="https://edu.abcdevops.com/course/index.php?categoryid=15" target="_blank">Kubernetes  </li>
                                <li><a href="https://edu.abcdevops.com/course/index.php?categoryid=16" target="_blank">Mobile </a></li>   
                                <li><a href="https://edu.abcdevops.com/course/index.php?categoryid=19" target="_blank">Serverless</a> </li>
                                <li><a href="https://edu.abcdevops.com/course/index.php?categoryid=21" target="_blank">GCP </a></li>
                        </ul>
                    </div>
                    <div class="ui sixteen wide mobile sixteen wide tablet six wide computer column enroll_sec">
                            <a class="button" href="http://edu.abcdevops.com/login/signup.php" target="_blank" title="Join Now">apply to enroll</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
  -->
    <div class="ui container">
        <div class="ui grid m-0">
                <div class=" sixteen wide mobile eight wide tablet ten wide computer column col1">
                            <div class="m-bt"> 
                                <div class="certificate">
                                        <div class="tooltip"><img src="/images/tarunsir.png">
                                                <span class="tooltiptext"> &nbsp; Tarun Jangra 
                                                    <a href="https://twitter.com/jangratarun" class="opcity-effect" target="_blank"><i class="twitter icon"></i></a>
                                                    <a href="https://www.linkedin.com/in/tarunjangra" class="opcity-effect" target="_blank"><i class="instagram icon"></i></a>
                                                </span>
                                        </div>        
                                       <img src="/images/aws01.png">
                                       
                                </div>
                                <div class="degree">
                                    <h5 class="border-bottom ">Developers - Associate</h5>
                                    <p class="font-tinny">The AWS Certified Developer – Associate validates technical expertise in developing and maintaining applications on the AWS platform.</p>
                                </div>   
                            </div>

                            <div class=" m-bt">
                                <div class="certificate">
                                        <div class="tooltip"><img src="/images/tarunsir.png">
                                                <span class="tooltiptext"> &nbsp; Tarun Jangra 
                                                    <a href="https://twitter.com/jangratarun" class="opcity-effect" target="_blank"><i class="twitter icon"></i></a>
                                                    <a href="https://www.linkedin.com/in/tarunjangra" class="opcity-effect" target="_blank"><i class="instagram icon"></i></a>
                                                </span>
                                        </div>  
                                        <img src="/images/aws01.png">
                                </div>
                                <div class="degree">
                                        <h5 class="border-bottom">Solutions Architect - Associate</h5>
                                        <p class="font-tinny">Solutions Architect – Associate is intended for individuals with experience designing distributed apps and systems on AWS platform.</p>
                                </div> 
                            </div>
                            <div class=" m-bt">
                                <div class="certificate">
                                        <div class="tooltip"><img src="/images/dineshsir.png">
                                                <span class="tooltiptext"> &nbsp; Dinesh Verma
                                                    <a href="https://twitter.com/sam_dv66" class="opcity-effect" target="_blank"><i class="twitter icon"></i></a>
                                                </span>
                                        </div>  
                                        <img src="/images/red1.png">
                                </div>
                                <div class="degree">
                                        <h5 class="border-bottom"><span style="letter-spacing: 1px;"><b>red</b>hat</span> - Certified Engineer</h5>
                                        <p class="font-tinny">RHCE proves your ability to configure networking services and security on servers running Red Hat Enterprise Linux.</p>
                                </div> 
                            </div>
                            <div class="m-bt">
                                <div class="certificate">
                                        <div class="tooltip"><img src="/images/tarunsir.png">
                                                <span class="tooltiptext"> &nbsp; Tarun Jangra 
                                                    <a href="https://twitter.com/jangratarun" class="opcity-effect" target="_blank"><i class="twitter icon"></i></a>
                                                    <a href="https://www.linkedin.com/in/tarunjangra" class="opcity-effect" target="_blank"><i class="instagram icon"></i></a>
                                                </span>
                                        </div>  
                                        <img src="/images/oracle.png">
                                </div>
                                <div class="degree">
                                        <h5 class="border-bottom">Oracle Certified Professional - 6i</h5>
                                        <p class="font-tinny">Oracle provides a comprehensive and fully integrated stack of cloud applications, platform services, and engineered systems.</p>
                                </div> 
                            </div>
                   
                </div>
                <div class="ui sixteen wide mobile eight wide tablet six wide computer column p-0">
                        <div class="small-12 columns sec-quick-contect">
                                <a href="/where.html" class="button">Contact Us</a>
                            </div>

                            <div class="small-12 columns sec-technologies scrollbar text-left" style="float:left;width:100%;">
                                <div class="ui grid m-0">
                                        <h2 class="text-center headsec">Our Accelerators</h2>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-1.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> AWS</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-2.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Docker</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-3.png" alt="AWS">
                                            <span class="font-tinny"> Elasticsearch</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-4.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> CHEF</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-5.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Grafana</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-6.png" alt="AWS">
                                            <span class="font-tinny"> Digital Ocean</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-7.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Jenkins</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-8.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Prometheus</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-9.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> GIT</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-10.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Atlassian</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-11.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Redmine</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-12.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> redhat</span>
                                        </div>
                                </div>
                                   
                                </div>
                </div>
           
        </div>
       

    </div>
</footer>
<div class="copyright text-center">
    <div class="ui container">
            <p class="text-white font-tinny m-0">abcdevops © 2019 all rights reserved.</p>
            <div class="social-icons right floated">
                    <a class="text-white" href="https://www.facebook.com/abcdevops/" target="_blank"><i class="facebook icon"></i></a>
                    <a class="text-white" href="https://twitter.com/abcdevops" target="_blank"><i class="twitter icon"></i></a> 
                    <a class="text-white" href="https://www.linkedin.com/company/abcdevops" target="_blank"><i class="linkedin alternate icon"></i></a>
                    <a class="text-white" href="https://abcdops.slack.com" target="_blank"><i class="fa fa-slack"></i></a>
            </div>
    </div>
</div>
