<footer>
    <div class="ui container">
        <div class="ui grid ">
            <div class="row">
                <div class="ui sixteen wide mobile eight wide tablet five wide computer column">
                    <a href="/index.html"><img src="/images/logo-ginvoicing.png"></a>
                </div>
                <div class="ui sixteen wide mobile eight wide tablet six wide computer column">
                    <h4><strong>Quick</strong> Links</h4>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/pricing.html">Pricing</a></li>
                        <li><a href="/support.html">Help</a></li>
                        <li><a href="/contact-us.html">Contacts</a></li>
                        <li><a href="/blog/index.html">Blog</a></li>
                        <li><a href="/terms.html">Terms of use</a></li>
                        <li><a href="/refunds.html">Refund Policy</a></li>
                        <li><a href="/privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="/ouresteemedclients.html">Our Esteemed Clients</a></li>
                    </ul>
                </div>
                <div class="ui sixteen wide mobile eight wide tablet three wide computer column">
                    <h4><strong>GST</strong> Articles</h4>
                    <ul>
                        <li><a href="/g/gst-registration.html">GST Registration</a></li>
                        <li><a href="/g/gst-invoice.html">GST Invoice</a></li>
                        <li><a href="/g/gst-bill.html">GST Bill</a></li>
                        <li><a href="/g/gst-login-process.html">GST Login Process</a></li>
                        <li><a href="/g/gst-in-india.html">GST in India</a></li>
                    </ul>
                </div>
            </div>
            <div class="row bottom-footer">
                <div class="ui sixteen wide mobile eight wide tablet five wide computer column social-icon">
                    <h4><strong>Social</strong> Links</h4>
                    <a href="https://www.facebook.com/ginvoicing"><i class="facebook f icon"></i></a>
                    <a href="http://www.twitter.com/ginvoicing"><i class="twitter icon"></i></a>
                    <a href="https://www.linkedin.com/company/ginvoicing"><i class="linkedin icon"></i></a>
                    <a href="https://www.youtube.com/channel/UC7iymqUnnu_vHasInNmZSww"><i class="youtube icon"></i></a>
                    <a href="https://instagram.com/g.invoicing"><i class="instagram icon"></i></a>
                    <div class="send-suggetions"><a href="https://idea.ginvoicing.com/home/">Send Suggestions</a></div>
                </div>

                <div class="ui sixteen wide mobile eight wide tablet six wide computer column contacts-footer">
                    <h4><strong>Contacts</strong> </h4>
                    <p><i class="mail outline icon"></i> <a href="mailto:support@ginvoicing.com"> support@ginvoicing.com</a></p>
                    <p style="margin-bottom:40px;"><i class="marker icon"></i>724 Lewelling Blvd, San Leandro,<br> CA 94579, USA</p>
                </div>
                <div class="ui sixteen wide mobile eight wide tablet five wide computer column contacts-footer">
                        <h4><strong>Call Us for </strong> Inquiry </h4>
                        <p class="gst-help-desk">United States/Canada <large>+1-510-315-0730</large> <small></small></p>
                        <p class="gst-help-desk">India <large>+91 8566819000</large>  <small></small></p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2018 <a href="#">Technofox LLC</a> All rights reserved.</p>
        </div>

    </div>
    <span class="top-move"><i class="angle up icon"></i></span>
</footer>