<footer>
    <div class="ui container">
        <div class="ui grid m-0">
                <div class=" sixteen wide mobile eight wide tablet ten wide computer column col1">
                            <div class="m-bt"> 
                                <div class="certificate">
                                        <div class="tooltip"><img src="/images/tarunsir.png">
                                                <span class="tooltiptext"> &nbsp; Tarun Jangra 
                                                    <a href="https://twitter.com/jangratarun" class="opcity-effect" target="_blank"><i class="twitter icon"></i></a>
                                                    <a href="https://www.linkedin.com/in/tarunjangra" class="opcity-effect" target="_blank"><i class="instagram icon"></i></a>
                                                </span>
                                        </div>        
                                       <img src="/images/aws01.png">
                                       
                                </div>
                                <div class="degree">
                                    <h5 class="border-bottom ">Developers - Associate</h5>
                                    <p class="font-tinny">The AWS Certified Developer – Associate validates technical expertise in developing and maintaining applications on the AWS platform.</p>
                                </div>   
                            </div>

                            <div class=" m-bt">
                                <div class="certificate">
                                        <div class="tooltip"><img src="/images/tarunsir.png">
                                                <span class="tooltiptext"> &nbsp; Tarun Jangra 
                                                    <a href="https://twitter.com/jangratarun" class="opcity-effect" target="_blank"><i class="twitter icon"></i></a>
                                                    <a href="https://www.linkedin.com/in/tarunjangra" class="opcity-effect" target="_blank"><i class="instagram icon"></i></a>
                                                </span>
                                        </div>  
                                        <img src="/images/aws01.png">
                                </div>
                                <div class="degree">
                                        <h5 class="border-bottom">Solutions Architect - Associate</h5>
                                        <p class="font-tinny">Solutions Architect – Associate is intended for individuals with experience designing distributed apps and systems on AWS platform.</p>
                                </div> 
                            </div>
                            <div class=" m-bt">
                                <div class="certificate">
                                        <div class="tooltip"><img src="/images/dineshsir.png">
                                                <span class="tooltiptext"> &nbsp; Dinesh Verma
                                                    <a href="https://twitter.com/sam_dv66" class="opcity-effect" target="_blank"><i class="twitter icon"></i></a>
                                                </span>
                                        </div>  
                                        <img src="/images/red1.png">
                                </div>
                                <div class="degree">
                                        <h5 class="border-bottom"><span style="letter-spacing: 1px;"><b>red</b>hat</span> - Certified Engineer</h5>
                                        <p class="font-tinny">RHCE proves your ability to configure networking services and security on servers running Red Hat Enterprise Linux.</p>
                                </div> 
                            </div>
                            <div class="m-bt">
                                <div class="certificate">
                                        <div class="tooltip"><img src="/images/tarunsir.png">
                                                <span class="tooltiptext"> &nbsp; Tarun Jangra 
                                                    <a href="https://twitter.com/jangratarun" class="opcity-effect" target="_blank"><i class="twitter icon"></i></a>
                                                    <a href="https://www.linkedin.com/in/tarunjangra" class="opcity-effect" target="_blank"><i class="instagram icon"></i></a>
                                                </span>
                                        </div>  
                                        <img src="/images/oracle.png">
                                </div>
                                <div class="degree">
                                        <h5 class="border-bottom">Oracle Certified Professional - 6i</h5>
                                        <p class="font-tinny">Oracle provides a comprehensive and fully integrated stack of cloud applications, platform services, and engineered systems.</p>
                                </div> 
                            </div>
                   
                </div>
                <div class="ui sixteen wide mobile eight wide tablet six wide computer column p-0">
                        <div class="small-12 columns sec-quick-contect">
                                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfHn6yZc9JXlc5J-MtQT6USDPfhCZgpSzLSwydPNdcbcWLjBQ/viewform?embedded=true" width="100%" height="440" frameborder="0" marginheight="0" marginwidth="0" style="background-color:#fff;    border-radius: 0;
                                margin: 0;border: 0;">Loading...</iframe>
                            </div>

                            <div class="small-12 columns sec-technologies scrollbar text-left" style="    height: 332px; overflow-y: scroll; overflow-x:hidden;">
                                <div class="ui grid">
                                        <h2 class="text-center headsec">Our Accelerators</h2>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-1.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> AWS</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-2.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Docker</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-3.png" alt="AWS">
                                            <span class="font-tinny"> Elasticsearch</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-4.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> CHEF</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-5.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> New Relic</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-6.png" alt="AWS">
                                            <span class="font-tinny"> Digital Ocean</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-7.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Jenkins</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-8.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Rackspace</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-9.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> GIT</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-10.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Atlassian</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-11.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> Redmine</span>
                                        </div>
                                        <div class="eight wide column">
                                            <img class="grey" src="/images/L-12.png" alt="AWS"> &nbsp;
                                            <span class="font-tinny"> redhat</span>
                                        </div>
                                </div>
                                   
                                </div>
                </div>
           
        </div>
       

    </div>
</footer>
<div class="copyright text-center">
    <div class="ui container">
            <p class="text-white font-tinny m-0">abcdevops © 2019 all rights reserved.</p>
            <div class="social-icons right floated">
                    <a class="text-white" href="https://www.facebook.com/abcdevops/" target="_blank"><i class="facebook icon"></i></a>
                    <a class="text-white" href="https://twitter.com/abcdevops" target="_blank"><i class="twitter icon"></i></a> 
                    <a class="text-white" href="https://www.linkedin.com/company/abcdevops" target="_blank"><i class="linkedin alternate icon"></i></a>
            </div>
    </div>
</div>
