<header class="ui row bg-img">
    <div class="ui container">
        <div class="ui grid">
                <div class="eight wide mobile four wide tablet  four wide computer column logo-rs" style="padding:20px 0 0 0;">
                    <a class=" item" href="/index.html">
                        <img class="ui image logo" src="/images/logo-abc-home.png" alt="abcdevops, an online cloud based invoicing solution."/>
                    </a>
                </div>
                <div class="twelve wide tablet twelve wide computer sixteen wide mobile column  grid  nopadding-tablet menu-list" style="padding-bottom:0;">

                        <div class="left aligned sixteen wide tablet eight wide column ">
            
                            <div class="ui inverted stackable menu menu-responsive">
                                <a class="item" href="/what.html">
                                    What
                                </a>
                                <a class="item" href="/who.html">
                                    who
                                </a>
                                <a class="item" href="/how.html">
                                    how
                                </a>
                                <a class="item" href="/why.html">
                                    why
                                </a>
                                <a class="item" href="/where.html">
                                    where
                                </a>
                            </div>
                            <div class="mobile-menu"><i class="sidebar icon"></i> </div>
                        </div>
                    </div>
        </div>
    </div>
</header>

<div class="hiring hide-for-small-only">
    <a href="/career.html">
        <img src="/images/banner.png" alt="We Are Hiring">
    </a>
</div>