<header class="ui row bg-img">
    <div class="ui container fluid">
        <div class="ui grid m-0">
                <div class="eight wide mobile four wide tablet  four wide computer column logo-rs" >
                    <a class=" item" href="/index.html">
                        <img class="ui image logo" src="/images/logo-abc-home.png" alt="abcdevops, an online cloud based invoicing solution."/>
                    </a>
                </div>
                <div class="twelve wide tablet twelve wide computer sixteen wide mobile column  grid  nopadding-tablet menu-list" style="padding-right: 70px;
                ">

                        <div class="left aligned sixteen wide tablet eight wide column ">
            
                            <div class="ui inverted stackable menu menu-responsive">
                                <a class="item" href="/what.html">
                                    <span>What</span>
                                    <h6>Do i need DevOps?</h6>
                                </a>
                                <a class="item" href="/who.html">
                                    <span>who</span>
                                    <h6>more about our work</h6>
                                </a>
                                <a class="item" href="/how.html">
                                    <span>how</span>
                                    <h6>24/7 monitoring</h6>
                                </a>
                                <a class="item" href="/why.html">
                                    <span>why</span>
                                    <h6>Our blog</h6>
                                </a>
                                <a class="item" href="/where.html">
                                    <span>where</span>
                                    <h6>Reach us</h6>
                                </a>
                            </div>
                            <div class="mobile-menu"><i class="sidebar icon"></i> </div>
                        </div>
                    </div>
        </div>
    </div>
</header>

<div class="hiring hide-for-small-only">
    <a href="/career.html">
        <img src="/images/label-hiring.png" alt="We Are Hiring">
    </a>
</div>
