---
layout: simple1
title: ABCDevOps Blog
date: 2018-10-10 10:30:33 +0530
id: why
permalink: blog.html
description: |
  Presenting ABCDevOps having all the latest technology around DevOps, Cloud, AI, Machine Learning, Block Chain.
keywords:
- DevOps
- Blogs
- AWS
- Azure
- GCP
---

<section class="blog-banner">
    <div class="ui container">
    <div class="blog-title">
        <h1><i class="comments outline icon"></i>Blog</h1>
    </div>
    </div>
</section>
    <section class="blog-list" style="background-color:#f1f1f1;">
        <div class=" ui container">
            <div class="featured-header-main">
            <h2>Recent Stories</h2>
            </div>

                    {% for post in paginator.posts %}

                    <div class="ui grid">
                            <div class="four wide computer four wide tablet sixteen wide mobile column">
                                    {% if post.og_image %}
                                    <div class="image-post" style="    background-image: url('{{ post.og_image }}');">
                                            <a href="{{ post.url }}" style="    height: 100%;
                                            display: block;
                                            position: absolute;
                                            width: 100%;"></a>
                                    </div>
                            </div>
                            <div class="twelve wide computer twelve wide tablet sixteen wide mobile column">
                                    <h3><a href="{{ post.url }}">{{ post.title }}</a> </h2>
                                      {% if post.tags %}
                                      <p class="blog-tag">{{ post | tags }}</p>
                                      {% endif %}
                                    <div class="top-title">
                                        <a href="{{ post.url }}#disqus_thread">0 comments</a>
                                    </div>
                            </div>
                            {% endif %}
                    </div>
             
                    
                   
                    {% endfor %}
            </div>

            {% if paginator.total_pages > 1 %}
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
              {% else %}
                <span>&laquo; Prev</span>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <em>{{ page }}</em>
                {% elsif page == 1 %}
                  <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
                {% else %}
                  <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
              {% else %}
                <span>Next &raquo;</span>
              {% endif %}
            </div>
            {% endif %}
            
    </section>

        <div class="top-stories" style="background:url(/images/pettern-orange.jpeg)repeat;">
            <div class="ui container">
                <div class="ui grid ">
                    <div class="featured-header-main">
                        <h2>Featured Stories</h2>
                    </div>
                    <div class="stackable mobile three column row">
                        {% assign cnt = 0 %}
                        {% for post in site.posts %}
                        {% if cnt < site.featured and post.top_story %}
                        {% assign cnt = cnt | plus:1 %}
                        <div class="column blog-list-box">
                            {% if post.og_image %}
                            <a href="{{ post.url }}"></a>
                            <img src="{{ post.og_image }}">
                            <div class="top-title">
                                <a href="{{ post.url }}#disqus_thread">
                                <i class="comments outline icon"></i>
                                comments</a>
                            </div>
                            <div class="blog-heading">
                                <h2>{{ post.title }}</h2>
                            </div>
                            <div class="bottom-description"> Read More
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
 
