---
layout: simple1
title: ABCDevOps Blog
date: 2018-10-10 10:30:33 +0530
id: why
permalink: why
description: |
  Presenting ABCDevOps having all the latest technology around DevOps, Cloud, AI, Machine Learning, Block Chain.
keywords:
- DevOps
- Blogs
- AWS
- Azure
- GCP
---

<section class="blog-banner">
    <div class="ui container">
    <div class="blog-title">
        <h1><i class="comments outline icon"></i>Blog</h1>
    </div>
    </div>
</section>
    <section class="blog-list" style="background-color:#f1f1f1;">
        <div class=" ui container">
            <div class="featured-header-main">
            <h2>Recent Stories</h2>
            </div>

                    {% for post in paginator.posts %}

                    <div class="ui grid">
                            <div class="four wide computer four wide tablet sixteen wide mobile column">
                                    {% if post.og_image %}
                                    <div class="image-post" style="    background-image: url('{{ post.og_image }}');">
                                            <a href="{{ post.url }}" style="    height: 100%;
                                            display: block;
                                            position: absolute;
                                            width: 100%;"></a>
                                    </div>
                            </div>
                            <div class="twelve wide computer twelve wide tablet sixteen wide mobile column">
                                    <h3><a href="{{ post.url }}">{{ post.title }}</a> </h2>
                            
                                        <p class="blog-tag">
                                            <a>{{post.tags[0] }}</a>
                                            <a>{{post.tags[1] }}</a>
                                            <a>{{post.tags[2] }}</a>
                                            <a>{{post.tags[3] }}</a>
                                            <a>{{post.tags[4] }}</a>
                                        </p>
                                    
                                        
                                    <div class="top-title">
                                        <a href="{{ post.url }}#disqus_thread">0 comments</a>
                                    </div>
                            </div>
                            {% endif %}
                    </div>
             
                    
                   
                    {% endfor %}
            </div>
    </section>


        <div class="top-stories" style="background:url(../images/pettern-orange.jpeg)repeat;">
            <div class="ui container">
                <div class="ui grid ">
                    <div class="featured-header-main">
                        <h2>Featured Stories</h2>
                    </div>
                    <div class="stackable mobile three column row">
                        {% assign posts = paginator.posts  %}
                        {% for post in posts %}
                        {% if post.top_story %}

                        <div class="column blog-list-box">
                            {% if post.og_image %}
                            <a href="{{ post.url }}"></a>
                            <img src="{{ post.og_image }}">
                            <div class="top-title">
                                <a href="{{ post.url }}#disqus_thread">
                                <i class="comments outline icon"></i>
                                comments</a>
                            </div>
                            <div class="blog-heading">
                                <h2>{{ post.title }}</h2>
                            </div>
                            <div class="bottom-description"> Read More
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
 
